:root {
  --primary-color: rgb(36, 150, 226);

  --card-border-radius: 10px;
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

body {
  min-height: 100vh;
  background: #eee;
}

html {
  font-family: var(--dawntreader-header);
  /* font-size: 1.125rem; */
}

/* responsive images/videos */
img:not(.dashboard-icon),
picture,
/* svg, */
video {
  display: block;
  max-width: 100%;
}

button,
select,
input {
  font-size: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

p,
a,
button {
  font-family: 'Exo', Arial, Helvetica, sans-serif;
}

/*  
   ========================================================================= 
   =                            LIBRARY PROJECT                            =   
   =========================================================================  
   */

.library-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
}

.library-container > * {
  border: 2px solid black;
}

header {
  grid-column: span 3;
}

footer {
  grid-column: span 3;
}

.library-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-content: space-evenly;
}

.library-catalog > * {
  width: 250px;
  height: 350px;
  border: 2px solid black;
}
